html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(217, 178, 178);
}